.todo-item-container {
    display: flex;
    flex-direction: column;
    width: var(--todo-item-width);
    word-break: break-all;
    background-color: var(--charcoal-light);
    border-radius: 15px;
}

.todo-item-card {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
}

.card-item {
    border-radius: 15px;
    background-color: white;
    color: black;
}

/* =================== HEADER =================== */

.card-header {
    display: flex;
    justify-content: space-between;
}

.header-right {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: var(--content-padding)
}

.header-left {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
}

.btn-widget {
    margin-left: auto;
    border-radius: 50%;
}

.delete-btn > .img-icon {
    background-color: red;
}

.priority-btn > .img-icon {
    background-color: darkgray;
}

.card-complete-btn > .img-icon {
    background-color: skyblue;
}

#card-title {
    margin: 0px 10px;
}

.fade-img {
  transition: opacity 0.5s ease-in-out;
}

/* =================== DESCRIPTION =================== */

#card-description {
}

/* =================== DUE DATE =================== */

.due-date-container {
    display: flex;
    align-items: center;
    padding: var(--content-padding);
    gap: var(--content-padding);
}

/* =================== SUBTASKS =================== */

.subtasks {
    padding: var(--content-padding);
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.subtask-header {
    display: flex;
    gap: 5px;
    align-items: center;
}

.card-add-subtask-btn .img-icon {
    background-color: SkyBlue;
    width: 25px;
}

.subtask-item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--charcoal-light);
    padding: var(--content-padding);
    border-radius: 15px;
}

.subtask-item-container {
    display: flex;
    width: 100%;
}

.subtask-input {
    margin-left: 7px;
    margin-right: 7px;
}

.subtask-item .img-icon {
    background-color: red;
    width: 25px;
}

/* =================== OUTSIDE CONTAINER =================== */

.card-collapse-btn {
    background-color: darkgray;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 2px;
}

.card-collapse-btn:hover {
    filter: brightness(120%);
}

.card-collapse-btn > .img-icon {
    background-color: none;
    box-shadow: none;
    border: none;
    width: 20px;
    padding: 0px;
}
