:root {
  --content-padding: 8px;
  --charcoal: #36454F;
  --charcoal-dark: #333333;
  --charcoal-light: #666666;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    /* border-color: red;
    border-width: 1px;
    border-style: solid; */
}

.container {
    display: flex;
    flex-direction: column;
    width: 320px;
    word-break: break-all;

    background-color: var(--charcoal-dark);
    border-radius: 15px;
}

.todo-item-card {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
    background: none;
}

button:hover {
    cursor: pointer;
}

.card-header .img-icon:hover {
    box-shadow: 0px 0px 10px white;
}

textarea {
    padding: var(--content-padding);
    width: 100%;
    field-sizing: content;
    resize: none;
    border: none;
    border-radius: 15px;
}

textarea:hover {
    box-shadow: 0px 0px 10px white;
}

.img-icon {
    width: 35px;
    padding: var(--content-padding);
    border-radius: 50%;
}

.card-item {
    border-radius: 15px;
    background-color: white;
    color: black;
}

/* =================== HEADER =================== */

.card-header {
    display: flex;
    justify-content: space-between;
}

.header-right {
    display: flex;
    justify-content: end;
    align-items: center;
}

.header-left {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
}

.card-delete-btn {
    margin-left: auto;
    border-radius: 50%;
}

.card-delete-btn > .img-icon {
    background-color: red;
}

.card-complete-btn > .img-icon {
    background-color: SkyBlue;
}

#card-title {
    margin: 0px 10px;
}

/* =================== DESCRIPTION =================== */

#card-description {
}

/* =================== DUE DATE =================== */

.due-date-container {
    display: flex;
    padding: var(--content-padding);
    gap: var(--content-padding);
}

/* =================== SUBTASKS =================== */

.subtasks {
    padding: var(--content-padding);
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.subtask-header {
    display: flex;
    gap: 5px;
    align-items: center;
}

.card-add-subtask-btn .img-icon {
    background-color: SkyBlue;
    width: 25px;
}

.card-add-subtask-btn .img-icon:hover {
    box-shadow: 0px 0px 10px white;
}

.subtask-item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: lightgray;
    padding: var(--content-padding);
    border-radius: 15px;
}

.subtask-item .img-icon {
    background-color: red;
    width: 25px;
}

.subtask-item .img-icon:hover {
    box-shadow: 0px 0px 10px white;
}

/* =================== OUTSIDE CONTAINER =================== */

.card-collapse-btn {
    background-color: var(--charcoal);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.card-collapse-btn > .img-icon {
    background-color: none;
    border: none;
}